/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  min-height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.17;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/*
  6. Improve media defaults
*/
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

* {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

body {
  background-color: var(--cream);
  color: var(--brown);
  font-family: var(--ff-body);
  font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  font-weight: 400;
  line-height: 1.55;
  height: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 1.75rem;
  color: var(--cream);
  font-size: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
  font-weight: 700;
  line-height: 2.75rem;
  height: 2.75rem;
  width: 176px;
  text-align: center;
}
@media only screen and (min-width: 48rem) {
  .btn {
    line-height: 3.5rem;
    height: 3.5rem;
    width: 228px;
  }
}
.btn-dark {
  background-color: var(--black);
}
@media (hover: hover) {
  .btn-dark:hover {
    background-color: var(--blue);
  }
}
.btn-light {
  background-color: var(--red);
}
@media (hover: hover) {
  .btn-light:hover {
    background-color: var(--yellow);
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.26;
}

h1,
h2,
h3 {
  color: var(--black);
}

h1 {
  font-size: clamp(2.25rem, 1.8099rem + 1.8779vw, 3.5rem);
}

h2 {
  font-size: clamp(1.625rem, 1.3169rem + 1.3146vw, 2.5rem);
}

h3 {
  font-size: clamp(1.625rem, 1.2672rem + 1.5267vw, 2rem);
}

:root {
  --ff-body: "Plus Jakarta Sans", serif;
  --white: #ffffff;
  --black: #030303;
  --purple: #552049;
  --brown: #7a746e;
  --blue: #755cde;
  --cyan: #61c4b7;
  --red: #eb7565;
  --pink: #f39e9e;
  --yellow: #f6a560;
  --cream: #fff7f0;
}

.header {
  max-width: 69.375rem;
  margin-inline: auto;
  padding-inline: 1.5rem !important;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-inline: 2.5rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding-inline: 0 !important;
  }
}
@media only screen and (min-width: 48rem) {
  .header {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 75rem) {
  .header {
    margin-bottom: 5rem;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 48rem) {
  .header__nav {
    padding-top: 2.125rem;
    margin-bottom: 4rem;
  }
}
.header__nav__logo {
  height: 3rem;
}
@media only screen and (min-width: 48rem) {
  .header__nav__logo {
    height: auto;
  }
}
.header__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 752px;
  margin-inline: auto;
}
@media only screen and (min-width: 48rem) {
  .header__description {
    gap: 1.625rem;
  }
}
@media only screen and (min-width: 75rem) {
  .header__description {
    gap: 1.5rem;
  }
}

main .section-fields {
  max-width: 69.375rem;
  margin-inline: auto;
  padding-inline: 1.5rem !important;
  display: grid;
  grid-template-areas: "graphic graphic" "ux apps" "ilustrations ilustrations" "photography photography" "graphics graphics";
  gap: 1.5rem;
  margin-bottom: 6.25rem;
}
@media only screen and (min-width: 768px) {
  main .section-fields {
    padding-inline: 2.5rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  main .section-fields {
    padding-inline: 0 !important;
  }
}
@media only screen and (min-width: 48rem) {
  main .section-fields {
    grid-template-areas: "graphic graphic ux apps" "graphic graphic ilustrations ilustrations" "photography photography graphics graphics";
    grid-template-rows: 182px 158px 182px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 7.5rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-fields {
    grid-template-areas: "graphic graphic ux apps photography photography" "graphic graphic ilustrations ilustrations graphics graphics";
    grid-template-rows: 182px 158px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 8.5rem;
  }
}
main .section-fields__box {
  border-radius: 8px;
  padding: 1.5rem;
  text-align: left;
}
main .section-fields__box img {
  margin-left: auto;
}
main .section-fields__box span {
  color: var(--white);
  font-size: 1.5rem;
}
main .section-fields__box:nth-of-type(1) {
  grid-area: graphic;
  background-color: var(--blue);
}
main .section-fields__box:nth-of-type(1) img {
  margin-bottom: 6rem;
}
main .section-fields__box:nth-of-type(2) {
  grid-area: ux;
  background-color: var(--yellow);
}
main .section-fields__box:nth-of-type(2) img, main .section-fields__box:nth-of-type(3) img, main .section-fields__box:nth-of-type(5) img, main .section-fields__box:nth-of-type(6) img {
  margin-bottom: 2.5rem;
}
main .section-fields__box:nth-of-type(3) {
  grid-area: apps;
  background-color: var(--pink);
}
main .section-fields__box:nth-of-type(4) {
  grid-area: ilustrations;
  background-color: var(--red);
}
main .section-fields__box:nth-of-type(4) img {
  margin-bottom: 1rem;
}
main .section-fields__box:nth-of-type(5) {
  grid-area: photography;
  background-color: var(--cyan);
}
main .section-fields__box:nth-of-type(6) {
  grid-area: graphics;
  background-color: var(--purple);
}
@media only screen and (min-width: 75rem) {
  main .section-fields__box:nth-of-type(6) img {
    margin-bottom: 1rem !important;
  }
}
main .section-introduction {
  display: grid;
  align-items: center;
  gap: 2.5rem;
  padding-inline: 1.5rem;
  margin-bottom: 6.25rem;
}
@media only screen and (min-width: 37.5rem) {
  main .section-introduction {
    grid-template-columns: 47% 44%;
    padding-inline: 0;
    margin-left: -2.5rem;
    padding-right: 2.5rem;
  }
}
@media only screen and (min-width: 48rem) {
  main .section-introduction {
    gap: 4rem;
    margin-bottom: 7.5rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-introduction {
    grid-template-columns: 40% 48%;
    max-width: 69.375rem;
    margin-inline: auto;
    padding-inline: 1.5rem !important;
    gap: 0;
    padding-right: 0;
    margin-bottom: 5.5rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 75rem) and (min-width: 768px) {
  main .section-introduction {
    padding-inline: 2.5rem !important;
  }
}
@media only screen and (min-width: 75rem) and (min-width: 1200px) {
  main .section-introduction {
    padding-inline: 0 !important;
  }
}
main .section-introduction__photo {
  padding-inline: 1rem;
}
@media only screen and (min-width: 37.5rem) {
  main .section-introduction__photo {
    padding-inline: 0;
  }
  main .section-introduction__photo img {
    object-fit: contain;
    height: 100%;
  }
}
@media only screen and (min-width: 37.5rem) and (min-width: 75rem) {
  main .section-introduction__photo img {
    max-width: 445px;
  }
}
main .section-introduction__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media only screen and (min-width: 37.5rem) {
  main .section-introduction__description {
    text-align: left;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 48rem) {
  main .section-introduction__description {
    max-width: 33.75rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-introduction__description {
    gap: 2rem;
  }
}
main .section-my-work {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 6.25rem;
  overflow: hidden;
  max-width: 90rem;
  margin-inline: auto;
}
@media only screen and (min-width: 48rem) {
  main .section-my-work {
    gap: 3.5rem;
    margin-bottom: 7.5rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-my-work {
    margin-bottom: 5.5rem;
  }
}
main .section-my-work__carousel {
  height: 180px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  font-size: 0;
}
@media only screen and (min-width: 37.5rem) {
  main .section-my-work__carousel {
    height: 360px;
  }
}
main .section-my-work__carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
main .section-my-work__carousel.dragging .slide {
  pointer-events: none;
}
main .section-my-work__carousel .slide {
  display: inline-block;
  border-radius: 8px;
  height: 180px;
  width: 270px;
  overflow: hidden;
  cursor: pointer;
}
main .section-my-work__carousel .slide:not(:first-child) {
  margin-left: 30px;
}
@media only screen and (min-width: 37.5rem) {
  main .section-my-work__carousel .slide {
    height: 360px;
    width: 540px;
  }
}
main .section-my-work__carousel .slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main .section-my-work__arrows {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
main .section-my-work__arrows__container {
  border: none;
  display: grid;
  place-content: center;
  background-color: var(--black);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
main .section-my-work__arrows__container:active {
  transform: scale(0.9);
}
@media (hover: hover) {
  main .section-my-work__arrows__container:hover {
    background-color: var(--blue);
  }
}
main .section-book {
  max-width: 69.375rem;
  margin-inline: auto;
  padding-inline: 1.5rem !important;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  main .section-book {
    padding-inline: 2.5rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  main .section-book {
    padding-inline: 0 !important;
  }
}
@media only screen and (min-width: 48rem) {
  main .section-book {
    margin-bottom: 3.5rem;
  }
}
main .section-book > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  background-color: var(--black);
  border-radius: 10px;
  padding: 3rem 1.5rem;
}
@media only screen and (min-width: 48rem) {
  main .section-book > div {
    padding: 3.5rem 4.75rem 4rem 4.75rem;
    gap: 1.625rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-book > div {
    padding: 5rem 6rem 5rem 4.125rem;
    justify-content: space-between;
    flex-direction: row;
  }
}
main .section-book__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media only screen and (min-width: 48rem) {
  main .section-book__description {
    gap: 1.625rem;
  }
}
@media only screen and (min-width: 75rem) {
  main .section-book__description {
    align-items: flex-start;
    max-width: 33.75rem;
    text-align: left;
  }
}
main .section-book__description h2,
main .section-book__description p {
  color: var(--white);
}

.footer {
  max-width: 69.375rem;
  margin-inline: auto;
  padding-inline: 1.5rem !important;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-inline: 2.5rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding-inline: 0 !important;
  }
}
@media only screen and (min-width: 48rem) {
  .footer {
    margin-bottom: 3.5rem;
  }
}
@media only screen and (min-width: 75rem) {
  .footer {
    margin-bottom: 4rem;
  }
}
.footer__logo {
  height: 3rem;
}
@media only screen and (min-width: 48rem) {
  .footer__logo {
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
